.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% 85%;
  grid-template-areas: 
    "sidebar main";
  background-color: #FFC87B;
}

.sidebar {
  grid-area: sidebar;
  background-color: #C1FBBE;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 5% 30% 65%; 
  grid-template-areas: 
    "searchbar"
    "cards"
    "books";
}