.booklistContainer {
  display: grid;
  grid-template-columns: 5% 30% 20% 15% 20% 10%;
  grid-template-areas: 
    "id title author category isbn publishedDate";
  color: black;
  width: 90%;
  height: 5vh;
  align-items: center;
  margin: 1em auto;
  background-color: #e9e9e9;
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1em;
}